.container {
  max-width: 1200px;
}
.header-logo {
  background-image: url(https://files.readme.io/0edbc5e-factomHarmony_horizontal.svg);
  width: 230px;
  margin-top: 20px;
  margin-right: 50px;
  height: 20px;
  background-repeat: no-repeat;
}
#main-container {
  margin-top: 2rem;
}
.font-weight-bold {
  font-weight: bold
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  display: none;
}
.loading-wrap {
  position: absolute;
    top: 48%;
    right: 49%;
}
.first-section {
  padding-top: 0;
}
.section-body {
  margin-left: 1rem
}
table {
  margin-left: 1rem;
}
#result {
  display: none;
}
#first-step {
  text-align: center
}
#first-step img {
  width: 30%;
  margin: 0 auto;
  display: table;
}
#first-step button {
  margin-top: 25px;
}
.row {
  margin-bottom: 10
}

p {
  margin: 0
}

.ml-10 {
  margin-left: 50px;
}

h5{
  color: #d47d3d;
}

h3{
  color: #345ba6;
  font-size: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

ul{
  margin:0
}

.mt-v3{
  margin-top: 2rem
}

.twoToneCenter {
  text-align: center;
  margin: 1em 0;
}
.twoToneButton {
  display: inline-block;
  outline: none;
  padding: 10px 20px;
  line-height: 1.4;
  background: #2bbbad;
  border-radius: 4px;
  border: 1px solid #2bbbad;
  color: #fff;
  position: relative;
  transition: padding-right 0.3s ease;
  font-weight: 700;
}

.twoToneButton.spinning {
  background-color: #2bbbad;
  padding-right: 40px;
}
.twoToneButton.spinning:after {
  content: '';
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  box-shadow: 0px 0px 0 1px #fff;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
.twoToneButton.spinning:before {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  right: 6px;
  top: 50%;
  position: absolute;
  border: 2px solid #fff;
  border-right: 3px solid #27ae60;
  -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@-webkit-keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}